@charset "utf-8";

/* layout */
.layout_contents {position:relative;width:100%;overflow:hidden;background-color:#f8f9fa}
.layout_contents-inner {height:100%;padding:60px 40px 36px}
.layout_contents-hd {position:relative;margin-bottom:30px}
.layout_contents-hd .tit_type1 {display:inline-block}
.layout_contents-con {padding:40px 40px 20px;height:calc(100% - 64px);background-color:#fff}
.box_user-info {position:absolute;right:0;top:2px;font-size:0}
.box_user-info .img_profile {display:inline-block;margin-top:2px;width:30px;height:30px;border-radius:50%;overflow:hidden;vertical-align:top}
.box_user-info .img_profile img {width:100%}
.box_user-info .txt_user {display:inline-block;margin-left:10px;line-height:34px;font-family:'notoSansM','notokrM','sans-serif';font-size:14px}
.btn_user-login {position:relative;margin-left:20px;padding-left:20px;color:#666;font-size:14px}
.btn_user-login:before {content:'';display:block;position:absolute;left:0;top:4px;width:1px;height:14px;background-color:#ccc}

/* login */
.login_wrap {display:table;table-layout:fixed;width:100%;height:100%;background:url('../images/contents/bg_login.png') no-repeat center center}
.login_content {display:table-cell;padding:70px 0;min-height:100%;height:100%;vertical-align:middle}
.login_contains {position:relative;margin:0 auto;width:1200px;height:800px;background:url('../images/contents/login_visual.png') no-repeat left top}
.login_contains h1 {display:inline-block;margin:40px 0 0 32px}
.login_inner {float:right;height:100%;padding:0 122px;width:600px;background-color:#fff;text-align:center}
.login_inner h2 {margin:230px 0 50px;font-size:28px;font-family:'notoSansM','notokrM','sans-serif';line-height:38px}
.login_inner h2 .point-color01 {display:inline-block;margin-right:4px;font-family:'notoSansB','notokrB','sans-serif'}
.login_form >div {position:relative;margin:0 0 30px}
.input_box {display:block;overflow:hidden}
.input_box label {display:block;margin-bottom:4px;text-align:left;font-size:18px;font-family:'notoSansM','notokrM','sans-serif';line-height:24px;color:#333}
.login_wrap input[type='text'], .login_wrap input[type='password'] {position:relative;width:100%;height:36px;padding:6px 10px;font-size:14px;background:#f8f9fa;-webkit-appearance:none;border:none}
.txt_form-error {margin:4px 0 0;font-size:12px;text-align:left;color:#c4161c}
.btn_login {padding:0 50px;width:350px;height:40px;border-radius:4px;background:#c4161c;box-shadow:0 3px 6px 0 rgba(196, 22, 28, 0.3);color:#fff;font-size:14px}
.btn_login:hover, .btn_login:focus {background-color:#9a1318}

/* dashBoard */
[class*="box_item-"] {display:flex;width:100%;flex-wrap:wrap;justify-content:space-between}
.tit_item-hd {line-height:36px}

.box_item-progress {}
.item_progress, .box_item-graph {box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.06);background-color:#fff}
.item_progress {position:relative;flex:1;padding:30px;height:170px;align-items:center;justify-content:space-around}
.item_progress:nth-child(2) {margin:0 20px}
.item_progress.type1 {background-image:linear-gradient(to right, #fe6c71, #c4161c);color:#fff}
.item_progress .txt_item-info {display:inline-block;font-size:14px;line-height:20px}
.item_progress .txt_data {font-size:36px;line-height:50px;font-family:'notoSansM';font-weight:600}
.item_progress .txt_data span {display:inline-block;margin-left:10px;font-size:14px;line-height:20px;font-weight:normal}
.item_progress .txt_data .sub_up {color:#c4161c}
.item_progress .txt_data .sub_down {color:#333}
.item_progress .progress {width:100%;height:8px;margin-top:34px;border-radius:50px;overflow:hidden;background:#eee}
.item_progress .progress-bar {width:100%;height:100%;border-radius:50px;
    -webkit-animation:progress 1.3s;
    animation:progress 1.3s;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode:backwards;
}
@-webkit-keyframes progress {
    0% {
        -webkit-transform:translateX(-100%);
        transform:translateX(-100%)
    }
    100% {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes progress {
    0% {
        -webkit-transform:translateX(-100%);
        transform:translateX(-100%)
    }
    100% {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
.item_progress.type1 .progress {background:#98272b}
.item_progress.type1 .progress-bar {background:#fff}
.item_progress.type2 .progress-bar {background-image:-webkit-gradient(linear, left top, right top, from(#fe6c71), to(#c4161c));background-image:linear-gradient(to right, #fe6c71, #c4161c)}
.item_progress.type3 .progress-bar {background-image:-webkit-gradient(linear, left top, right top, from(#959aa1), to(#272b31));background-image:linear-gradient(to right, #959aa1, #272b31)}

.box_toggle-group {position:absolute;right:22px;top:18px;width:24px;height:24px}
.box_toggle-group .btn_toggle {position:absolute;right:0;top:0;width:24px;height:24px;font-size:0;text-indent:-9999px;color:transparent}
.box_toggle-group .btn_toggle:after {content:'';display:block;position:absolute;left:2px;top:10px;width:22px;height:4px;background:url('../images/common/ico_com.png') no-repeat -112px 0}
.box_toggle-group .box_toggle-cont {position:absolute;right:0;top:26px;padding:10px 0;width:200px;background-color:#f8f9fa;border-radius:4px;z-index:1}
.box_toggle-group .box_toggle-cont .is-active a {font-family:'notoSansM','notokrM','sans-serif'}
.box_toggle-group .box_toggle-cont .is-active a, .box_toggle-group .box_toggle-cont a:hover, .box_toggle-group .box_toggle-cont a:focus {color:#c4161c}
.box_toggle-group .box_toggle-cont a {display:block;padding:0 20px;width:100%;height:34px;line-height:34px;color:#333}

.box_item-data {margin:40px 0 15px;height:680px}
.item_data-area {flex:1;padding:30px 0;background-color:#fff}
.item_data-area.graph {flex:2;border-right:1px solid #eee}
.tit_item-txt {position:relative;padding-left:23px;font-size:18px;font-family:'notoSansM','notokrM','sans-serif';line-height:30px}
.tit_item-txt:before {content:'';display:block;position:absolute;left:0;top:0;width:3px;height:30px;background:#272b31}
.item_data-area [class*="box_"] {margin:62px auto 0;text-align:center}
.box_graph {padding:0 80px}
.box_donut {padding:0 64px}
.item_data-area .data_desc {margin-top:60px}
.item_data-area strong {font-weight:normal}
.item_data-area.graph .box_chart-area {width:100%;height:370px}
.item_data-area.graph .data_desc {display:flex;justify-content:space-between}
.item_data-area.graph .data_desc li {}
.item_data-area.graph .txt_sub-info {display:block;text-align:left;color:#666;line-height:20px}
.item_data-area.graph strong {font-size:36px;font-family:'notoSansB','notokrB','sans-serif';line-height:48px}
.item_data-area.donut .box_chart-area {width:100%;height:270px}
.item_data-area.donut .data_desc {display:inline-block;text-align:left;font-size:18px}
.item_data-area.donut .data_desc li ~ li {margin-top:20px}
.item_data-area.donut .txt_sub-info {display:inline-block;margin-right:4px;position:relative;padding-left:35px;font-family:'notoSansM','notokrM','sans-serif';line-height:25px}
.item_data-area.donut .txt_sub-info:before {content:'';display:block;position:absolute;left:0;top:0;width:25px;height:25px;border-radius:50%;background-color:transparent}
.data01 .txt_sub-info {color:#ee4d53}
.data02 .txt_sub-info {color:#c4161c}
.data03 .txt_sub-info {color:#8b161b}
.data04 .txt_sub-info {color:#541417}
.item_data-area.donut .data01 .txt_sub-info:before {background-color:#ee4d53}
.item_data-area.donut .data02 .txt_sub-info:before {background-color:#c4161c}
.item_data-area.donut .data03 .txt_sub-info:before {background-color:#8b161b}
.item_data-area.donut .data04 .txt_sub-info:before {background-color:#541417}
.item_data-area.donut strong {color:#666}

/* graph page */
.box_graph-area {height:calc(100% - 70px)}

/* table list */
.bbs_area {position:relative}
.bbs {table-layout:fixed}
.bbs th, .bbs td {word-break:keep-all;padding:6px 8px;height:50px;text-align:center;font-size:16px}
.bbs thead th {font-family:'notoSansM','notokrM','sans-serif';border-top:1px solid #111;border-bottom:1px solid #999}
.bbs tbody tr:nth-child(even) td {background-color:#f8f9fa}
.bbs tbody td {border-bottom:1px solid #ddd}
.bbs tbody td, .bbs tbody td a, .bbs tbody td button {font-size:16px;color:#666;font-family:'notoSansR','notokrR','sans-serif'}

.bbs .box_cending-area {display:inline-block;padding-right:18px}
.bbs .btn_cending-group {top:2px;right:0}
.bbs .btn_cending-group button {width:16px;height:10px}
.bbs .btn_cending-group button:after {left:auto;right:4px;top:0;width:8px;height:4px}
.bbs .btn_cending-group .btn_up:after {top:auto;bottom:1px;background-position:0 -10px}
.bbs .btn_cending-group .btn_down:after {top: 2px;background-position:0 -14px}
.bbs .btn_cending-group .btn_up:hover:after, .bbs .btn_cending-group .btn_up:focus:after {background-position-y:-20px}
.bbs .btn_cending-group .btn_down:hover:after, .bbs .btn_cending-group .btn_down:focus:after {background-position-y:-24px}

.box_tbl-bottom {position:relative;padding:5px 0 0;text-align:center}
.box_tbl-bottom .btn_tb-group {position:absolute;right:0;top:10px}

.box_scroll-tbl .scrollbar-inner {max-height:802px}

/* toggle */
.box_toggle-cont {display:none}
.box_toggle-cont.is-active {display:block}

/* modal popup : info box */
.item_location {position:absolute;width:60px;height:60px;font-size:0;color:transparent;text-indent:-9999px;background-color:transparent;border-radius:50%;z-index:5}
.item_location:after {content:'';display:block;position:absolute;left:7px;top:13px;width:46px;height:34px;background:url('../images/common/ico_com.png') no-repeat 0 -44px}
.item_location.type_a {background-color:#6f7784}
.item_location.type_a:hover, .item_location.type_a:focus {box-shadow:0 10px 20px 0 rgba(111, 119, 132, 0.5)}
.item_location.type_a:after {background-position-x:0}
.item_location.type_b {background-color:#ec9033}
.item_location.type_b:hover, .item_location.type_b:focus {box-shadow:0 10px 20px 0 rgba(236, 144, 51, 0.5)}
.item_location.type_b:after {background-position-x:-46px}
.item_location.type_c {background-color:#c4161c}
.item_location.type_c:hover, .item_location.type_c:focus  {box-shadow:0 10px 20px 0 rgba(241, 86, 86, 0.8)}
.item_location.type_c:after {background-position-x:-92px}
.item_location.type_d {background-color:#41454b}
.item_location.type_d:hover, .item_location.type_d:focus {box-shadow:0 10px 20px 0 rgba(73, 70, 75, 0.5)}
.item_location.type_d:after {background-position-x:-138px}

.box_popup-location li {position:absolute}
.box_popup-panel .box_popup-info {position:absolute;width:150px}
.box_popup-panel .box_popup-info.type2 {bottom:16px;margin-left:-80px;width:220px;visibility:hidden;opacity:0;transition:all .25s ease-in;transform:translateY(-14px);transition:all .25s ease-in}
.box_popup-location li:hover .box_popup-info.type2 {visibility:visible;opacity:1;transform:translateY(0)}

/* modal popup : form box */
.box_form-tbl {padding:30px 30px 20px}
.box_form-tbl th, .box_form-tbl td {padding:10px 6px;text-align:left}

/* scrollbar css */
.scroll-wrapper {position:relative;padding:0 !important;overflow:hidden !important}
.scroll-wrapper > .scroll-content {position:relative !important;top:0;left:0;padding:0;margin:0;max-height:none;max-width:none !important;width:auto !important;height:auto;border:none !important;box-sizing:content-box !important;overflow:scroll !important}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {height:0;width:0}
.scroll-element {display:none}
.scroll-element, .scroll-element div {box-sizing:content-box}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {display:block}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {cursor:default}
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {position:absolute;margin:0;padding:0;border:none;z-index:10}
.scrollbar-inner > .scroll-element div {display:block;height:100%;left:0;top:0;width:100%}
.scrollbar-inner > .scroll-element.scroll-x {bottom:10px;height:4px;left:0;width:100%}
.scrollbar-inner > .scroll-element.scroll-y {height:100%;right:4px;top:0;width:4px}
.scrollbar-inner > .scroll-element .scroll-element_outer {top:10px;height:calc(100% - 20px);overflow:hidden}
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px}
.scrollbar-inner > .scroll-element .scroll-element_track {background-color:#eee}
.scrollbar-inner > .scroll-element .scroll-bar {background-color:#666}
