@charset "utf-8";

/* dashBoard */
[class*="box_item-"] {display:flex;width:100%;flex-wrap:wrap;justify-content:space-between}
.box_section-hd {position:relative;padding:0 12px;height:36px;border:solid 1px #f3f3f3;box-shadow:18px 0 80px 0 rgba(0,0,0,.04)}
.tit_item-hd {line-height:36px}

.box_item-progress {}
.item_progress, .box_item-graph {box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.06);background-color:#fff}
.item_progress {position:relative;flex:1;padding:30px;height:170px;align-items:center;justify-content:space-around}
.item_progress:nth-child(2) {margin:0 20px}
.item_progress.type1 {background-image:linear-gradient(to right, #fe6c71, #c4161c);color:#fff}
.item_progress .txt_item-info {display:inline-block;font-size:14px;line-height:20px}
.item_progress .txt_data {font-size:36px;line-height:50px;font-family:'notoSansM';font-weight:600}
.item_progress .txt_data span {display:inline-block;margin-left:10px;font-size:14px;line-height:20px;font-weight:normal}
.item_progress .txt_data .sub_up {color:#c4161c}
.item_progress .txt_data .sub_down {color:#333}
.item_progress .progress {width:100%;height:8px;margin-top:34px;border-radius:50px;overflow:hidden;background:#eee}
.item_progress .progress-bar {width:100%;height:100%;border-radius:50px;
    -webkit-animation:progress 1.3s;
    animation:progress 1.3s;
    -webkit-animation-fill-mode:backwards;
    animation-fill-mode:backwards;
}
@-webkit-keyframes progress {
    0% {
        -webkit-transform:translateX(-100%);
        transform:translateX(-100%)
    }
    100% {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes progress {
    0% {
        -webkit-transform:translateX(-100%);
        transform:translateX(-100%)
    }
    100% {
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
.item_progress.type1 .progress {background:#98272b}
.item_progress.type1 .progress-bar {background:#fff}
.item_progress.type2 .progress-bar {background-image:-webkit-gradient(linear, left top, right top, from(#fe6c71), to(#c4161c));background-image:linear-gradient(to right, #fe6c71, #c4161c)}
.item_progress.type3 .progress-bar {background-image:-webkit-gradient(linear, left top, right top, from(#959aa1), to(#272b31));background-image:linear-gradient(to right, #959aa1, #272b31)}

.box_toggle-group {position:absolute;right:22px;top:18px;width:24px;height:24px}
.box_toggle-group .btn_toggle {position:absolute;right:0;top:0;width:24px;height:24px;font-size:0;text-indent:-9999px;color:transparent}
.box_toggle-group .btn_toggle:after {content:'';display:block;position:absolute;left:2px;top:10px;width:20px;height:3px;background:#fff;border-radius:4px}
.box_toggle-group .box_toggle-cont {position:absolute;right:0;top:26px;padding:10px 0;width:200px;background-color:#f8f9fa;border-radius:4px;z-index:1}
.box_toggle-group .box_toggle-cont .is-active a {font-family:'notoSansM','notokrM','sans-serif'}
.box_toggle-group .box_toggle-cont .is-active a, .box_toggle-group .box_toggle-cont a:hover, .box_toggle-group .box_toggle-cont a:focus {color:#c4161c}
.box_toggle-group .box_toggle-cont a {display:block;padding:0 20px;width:100%;height:34px;line-height:34px;color:#333}

.box_item-graph {display:block;margin-top:40px;height:680px;width:100%}
.box_graph {position:relative;height:calc(100% - 36px)}

/* login */
.login_wrap {display:table;table-layout:fixed;width:100%;height:100%;background:url('../images/contents/bg_login.png') no-repeat center center}
.login_content {display:table-cell;padding:70px 0;min-height:100%;height:100%;vertical-align:middle}
.login_contains {position:relative;margin:0 auto;width:1200px;height:800px;background:url('../images/contents/login_visual.png') no-repeat left top}
.login_contains h1 {display:inline-block;margin:40px 0 0 32px}
.login_inner {float:right;height:100%;padding:0 122px;width:600px;background-color:#fff;text-align:center}
.login_inner h2 {margin:230px 0 50px;font-size:28px;font-family:'notoSansM','notokrM','sans-serif';line-height:38px}
.login_inner h2 .point-color01 {display:inline-block;margin-right:4px;font-family:'notoSansB','notokrB','sans-serif'}
.login_form >div {position:relative;margin:0 0 30px}
.input_box {display:block;overflow:hidden}
.input_box label {display:block;margin-bottom:4px;text-align:left;font-size:18px;font-family:'notoSansM','notokrM','sans-serif';line-height:24px;color:#333}
.login_wrap input[type='text'], .login_wrap input[type='password'] {position:relative;width:100%;height:36px;padding:6px 10px;font-size:14px;background:#f8f9fa;-webkit-appearance:none;border:none}
.txt_form-error {margin:4px 0 0;font-size:12px;text-align:left;color:#c4161c}
.btn_login {padding:0 50px;width:350px;height:40px;border-radius:4px;background:#c4161c;box-shadow:0 3px 6px 0 rgba(196, 22, 28, 0.3);color:#fff;font-size:14px}
.btn_login:hover, .btn_login:focus {background-color:#9a1318}

/* layout */
.layout_contents {position:relative;width:100%;overflow:hidden;background-color:#f8f9fa}
.layout_contents-inner {padding:60px 40px 36px}
.layout_contents-hd {position:relative;margin-bottom:30px}
.layout_contents-hd .tit_type1 {display:inline-block}
.box_user-info {position:absolute;right:0;top:2px;font-size:0}
.box_user-info .img_profile {display:inline-block;margin-top:2px;width:30px;height:30px;border-radius:50%;overflow:hidden;vertical-align:top}
.box_user-info .img_profile img {width:100%}
.box_user-info .txt_user {display:inline-block;margin-left:10px;line-height:34px;font-family:'notoSansM','notokrM','sans-serif';font-size:14px}
.btn_user-login {position:relative;margin-left:20px;padding-left:20px;color:#666;font-size:14px}
.btn_user-login:before {content:'';display:block;position:absolute;left:0;top:4px;width:1px;height:14px;background-color:#ccc}

/* toggle */
.box_toggle-cont {display:none}
.box_toggle-cont.is-active {display:block}

/* scrollbar css */
.scroll-wrapper {position:relative;padding:0 !important;overflow:hidden !important}
.scroll-wrapper > .scroll-content {position:relative !important;top:0;left:0;padding:0;margin:0;max-height:none;max-width:none !important;width:auto !important;height:auto;border:none !important;box-sizing:content-box !important;overflow:scroll !important}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {height:0;width:0}
.scroll-element {display:none}
.scroll-element, .scroll-element div {box-sizing:content-box}
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {display:block}
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {cursor:default}
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {position:absolute;margin:0;padding:0;border:none;z-index:10}
.scrollbar-inner > .scroll-element div {display:block;height:100%;left:0;top:0;width:100%}
.scrollbar-inner > .scroll-element.scroll-x {bottom:10px;height:4px;left:0;width:100%}
.scrollbar-inner > .scroll-element.scroll-y {height:100%;right:4px;top:0;width:4px}
.scrollbar-inner > .scroll-element .scroll-element_outer {top:10px;height:calc(100% - 20px);overflow:hidden}
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px}
.scrollbar-inner > .scroll-element .scroll-element_track {background-color:#eee}
.scrollbar-inner > .scroll-element .scroll-bar {background-color:#666}
.scrollbar-inner > .scroll-element:hover .scroll-bar {background-color:#2b2b2c}
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {background-color:#2b2b2c}

/* table list */
.bbs_area {position:relative}
.bbs {table-layout:fixed}
.bbs thead th {padding:5px 8px;height:46px;text-align:center;color:#fff;background:#abaaaf;font-family:'notoSansM'}
.bbs tbody th, .bbs tbody td, .bbs tfoot td {word-break:keep-all;padding:5px 8px;height:44px;text-align:center;border-bottom:1px solid #eee}
.bbs tbody th {background-color:#f6f6f6}
.bbs tbody td.link.type2 {text-align:left}
.bbs tbody td.link a {display:inline-block;max-width:90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:pointer}
.bbs tbody td.link a, .bbs tbody td.link a:hover {text-decoration:underline;color:#3b86ff}
.bbs tbody tr:hover td {background-color:#e9e9e9}
.bbs tbody tr.is-active td {background-color:#e8eef6}
.align_c td, td.align_c {text-align:center !important}
.no-data {color:#c5c5c5}

.box_scroll-tbl .scrollbar-inner {max-height:220px}

